Repository replicatedhq/troubleshoot.sh, pull requests merged in 2022-03, with the labels that each got.

#370 Typo fix
  docs/source/analyze/index.mdx
Labels: type::docs

#364 Update docs for adding `strict` flag to Analyzers
  docs/source/analyze/index.mdx
Labels: type::feature, type::docs

#376 Use == for consistency
  docs/source/analyze/distribution.md
Labels: type::docs, team::orange

#377 Update wording for strict analyzers
  docs/source/analyze/index.mdx
Labels: team::orange
