Repository replicatedhq/troubleshoot.sh, pull requests merged in 2022-05, with the labels that each got.

#386 Mysql collector variables
  docs/source/collect/mysql.md
Labels: type::feature, type::docs

#385 RunPod Collector
  docs/gatsby-config.js
  docs/source/collect/all.md
  docs/source/collect/deprecated/run.md
  docs/source/collect/run-pod.md
Labels: type::feature

#387 fix indentation
  docs/source/analyze/regex.md
Labels: type::chore, type::docs, team::orange
