Repository replicatedhq/troubleshoot.sh, pull requests merged in 2023-06, with the labels that each got.

#504 document ignoreRBAC option in clusterResources collector
  docs/source/collect/cluster-resources.md
Labels: echoes/effort: XS, type::chore, type::docs

#502 Added DaemonSet documentation to cluster-resources.md
  docs/source/collect/cluster-resources.md
Labels: type::feature, type::docs

#498 Attempts to clarify what you can measure for resource
  docs/source/analyze/node-resources.md
Labels: type::chore, type::docs

#503 adding clusterResource analyzer docs
  docs/gatsby-config.js
  docs/source/analyze/cluster-resource.md
Labels: type::feature, type::docs

#480 change troubleshoot.io to troubleshoot.sh
  docs/source/preflight/cli-usage.md
  docs/source/support-bundle/discover-cluster-specs.md
  gatsby-theme-troubleshoot/gatsby-config.js
Labels: type::bug, bug::normal

#508 Adding endpoint documentation to cluster-resources.md file
  docs/source/collect/cluster-resources.md
Labels: type::feature, type::docs
