Repository replicatedhq/troubleshoot.sh, pull requests merged in 2023-05, with the labels that each got.

#490 59693; Clarified Password Redaction
  docs/source/redact/passwords.md
Labels: type::feature, type::docs

#489 adding docs for multiple exit code support in preflight
  docs/gatsby-config.js
  docs/source/preflight/exit-codes.md
Labels: type::feature, type::docs

#491 add docs note about what version multiple exit code support was added
  docs/source/preflight/exit-codes.md
Labels: type::feature, type::docs

#492 Add preflight check CLI usage
  docs/gatsby-config.js
  docs/source/preflight/cli-usage.md
  docs/source/preflight/next-steps.md
Labels: type::chore, type::docs

#496 Update collectors.md
  docs/source/collect/collectors.md
Labels: type::bug, bug::normal, type::docs
