Repository replicatedhq/troubleshoot.sh, pull requests merged in 2023-02, with the labels that each got.

#470 Adding docs for MS SQL colletor/analyzer.
  docs/source/analyze/mssql.md
  docs/source/collect/mssql.md
Labels: type::docs

#457 Update logs.md & cluster-resources.md
  docs/source/collect/cluster-resources.md
  docs/source/collect/logs.md
Labels: type::feature

#474 Additional run host collector examples
  docs/source/host-collect-analyze/run.md
Labels: type::chore, type::docs
