Repository replicatedhq/troubleshoot.sh, pull requests merged in 2024-09, with the labels that each got.

#576 Update text analyser documentation
  docs/source/analyze/regex.md
Labels: type::chore

#577 feat(nodeResources): add message templating doc
  docs/source/analyze/node-resources.md
Labels: type::feature

#579 Doc update for DNS collector
  docs/source/collect/dns.md
Labels: type::feature, type::docs

#580 feat: [sc-112277] Host DNS collector
  docs/gatsby-config.js
  docs/source/collect/dns.md
  docs/source/host-collect-analyze/all.md
  docs/source/host-collect-analyze/dns.md
Labels: type::feature, type::docs

#581 Update docs for new goldpinger changes
  docs/source/collect/goldpinger.md
Labels: type::chore, type::docs
