Repository replicatedhq/troubleshoot.sh, pull requests merged in 2024-05, with the labels that each got.

#560 chore: Sort distribution names
  docs/source/analyze/distribution.md
Labels: type::chore

#559 Add docs for dns collector
  docs/gatsby-config.js
  docs/source/collect/all.md
  docs/source/collect/dns.md
Labels: type::feature, type::docs

#561 remove /explore page
  docs/source/index.mdx
  docs/source/preflight/cli-usage.md
  docs/source/preflight/next-steps.md
  gatsby-theme-marketing/gatsby-node.js
  gatsby-theme-marketing/src/components/Troubleshootsh.js
  gatsby-theme-marketing/src/components/shared/NavBar.js
  gatsby-theme-troubleshoot/gatsby-config.js
  gatsby-theme-troubleshoot/src/gatsby-theme-apollo-docs/components/page-layout.js
Labels: type::bug, bug::normal

#562 feat(cluster-resource): update analyzer doc to add more details
  docs/source/analyze/cluster-resource.md
Labels: type::feature

#564 update distribution analyzer docs re: openshift
  docs/source/analyze/distribution.md
Labels: type::chore, type::docs

#563 Update doc for kernel configs host collector and analyzer
  docs/gatsby-config.js
  docs/source/host-collect-analyze/all.md
  docs/source/host-collect-analyze/kernelConfigs.md
Labels: type::feature, type::docs
