Repository replicatedhq/troubleshoot.sh, pull requests merged in 2024-01, with the labels that each got.

#535 Add list of distros to distribution analyzer
  docs/source/analyze/distribution.md
Labels: type::feature, type::docs

#537 Update runPod collector documentation
  docs/source/collect/deprecated/run.md
  docs/source/collect/run-pod.md
Labels: type::chore, type::docs

#534 document: [issue-1401]: Added documenation for helm values in helm collector
  docs/source/collect/helm.md
Labels: type::feature
